# Read the documentation: https://fosrestbundle.readthedocs.io/en/3.x/
fos_rest:
    serializer:
        serialize_null: true
    param_fetcher_listener:  true
#    allowed_methods_listener:  true
#    routing_loader: false
    view:
        view_response_listener:  true
        formats:
            json: true
            xml: false
#    exception:
#        codes:
#            App\Exception\MyException: 403
#        messages:
#            App\Exception\MyException: Forbidden area.
    body_listener:
        array_normalizer: fos_rest.normalizer.camel_keys
    format_listener:
        enabled: true
        rules:
            - { path: ^/api, fallback_format: json }
            - { path: ^/*, fallback_format: json }
